
/* 초기화  resret------------------ */
body,
h1,
h2,
h3,
h4,
p,
button,
ul,
ol,
li,
fieldset,
legend{
    margin: 0;
    padding: 0;
}

ul,
li,
ol{
    /* list-style: none; */
}

ul {
    list-style: none;
}

/* main-------------------- */
/* 로그인 페이지 */
.login,
.join{
    width: 400px;
    margin: auto;
}

.main-title,
.main-desc {
    text-align: center;
}

.main-title{
    font-size: 24px;
}

.main-desc{
    color: #767676;
    margin: 10px 0 32px;
}

/* 컨테이너1 */
.main-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/* 컨테이너2 */
.flex-input{
    display: flex;
    align-items: center;
}

/* 컨테이너2 : 아이템 */
.flex-input label{
    width: 80px;
}

.flex-input input {
    height: 28px;
    flex-grow: 1;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.login-btn,
.join-btn {
    background-color: royalblue;
    border: 0;
    border-radius: 4px;
    height: 42px;
    color: white;
    font-weight: bold;
}


.field {
    border : 0;
}

.wrap{
    display: flex;
}

/* .field legend{
    float: left;
    width: 80px;
} */